body{
    font-family: 'Baloo Bhai 2', cursive;
    
} 
.flexible{
    display:flex;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 120px;
}
span{
    color: red;
}
.fsize{
    font-size: 40px;
}
font{
    font-size: 20px;
}
.link-btn{
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 2px 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 20px;
    background-image: linear-gradient(rgb(0, 255, 255),rgb(0, 0, 255));
}
.link-btn:hover{
    color: rgb(255, 0, 0);
}
.firstpic{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    margin-left: 40%;
    
}
.flexi{
    display: flex;
    background-image: url(image/secondbg.png);
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 120px;
    

}
.secondpic{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    margin-left: 150px;

}
.about{
  padding: 100px;
  margin-left: 150px;
}
.head{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
}
.flex-container{
    display: flex;
    margin: 30px;
    padding: 50px;
    margin-bottom: 80px;
    
}
.container1{
    border: 7px solid rgb(247, 247, 247);
    width: 500px;
    height: 500px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 20px 2px rgba(245, 245, 245, 0.596);
    
}
.container2{
    border: 7px solid rgb(247, 247, 247);
    width: 500px;
    height: 500px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 20px 2px rgba(245, 245, 245, 0.596);
    
}
.container3{
    border: 7px solid rgb(247, 247, 247);
    width: 500px;
    height: 500px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 20px 2px rgba(245, 245, 245, 0.596);
    
}
.food{
    width: 80%;
    height: 60%;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 50px;
}
.recipie{
    text-align: center;
}
.socialcontainer{
    /* border: 10px solid red; */
    width: 50%;
    /* height: 500px; */
    display: flex;
    margin-left: 300px;
    text-align: center;
    padding: 50px;
    font-size: 30px;
}
.socialmedia{
    display: flex;
    border: 7px solid rgb(247, 247, 247);
    background-color: rgb(255, 255, 255);
    /* margin-right: 100px; */
    border-radius: 30px;
    box-shadow: 10px 20px 2px rgba(245, 245, 245, 0.596);
}
.foot{
    background-color: black;
    text-align: center;
    color: blanchedalmond;
    height: 200px;
    
}
span{
    color: orange;
}
.copyright{
    color: white;
}



